*.terraform
./terraform
Day-1/.terraform.lock.hcl
Day-2/.terraform.lock.hcl
Day-3/.terraform.lock.hcl
C:\Users\Sarthak\aws_with_terraform\Day-2\.terraform
C:\Users\Sarthak\aws_with_terraform\Day-2\.terraform.lock.hcl


#variable "instance_count" {
 #   type = number
  #  default = 1
# } 


tags = {
    Name        = "${var.environment} web-server"
    Environment = var.environment

  }
#variables
#variable "public_ip" {
   # type = bool
   # default = true
   # description = "this for public ip"
# }

variable "instance_ami_id" {
    type = string 
    default = "

}

variable "subnet_id" {
    type = string
    # default = "subnet-0c3c23730218354a8"
    default = 
}

variable "instance_type" {
    type = string
    default = 
}

variable "environment" {
    type = string
    default = 
}

#variable "instance_count" {
 #   type = number
  #  default = 1
#}

#variable "public_ip" {
 #   type = bool
  #  default = true
#}